@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --preto: rgb(20, 0, 0); 
}

* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 4vw;
}

header {
    height: 40vh;
    margin-bottom: 10px;
    font-family: 'Anton', sans-serif;
    background-color: var(--preto);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h1 {
    font-weight: bolder;
    font-size: 4.5vw;
}

main {
    margin: 10px 0px;
    /* font-size: 2.3rem; */
    line-height: 6vw;
}

article p {
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#destaque1 {
    background-image: url(imagens/background001.jpg);
}

#destaque2 {
    background-image: url(imagens/background002.jpg);
}

.destaque {
    width: 100%;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.destaque > pre {
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
    padding-right: 10px;
    padding-left: 10px;
}

pre {
    font-family: 'Bebas Neue', cursive;
    margin: 15px 25px;
}

footer {
    font-family: 'Anton', sans-serif;
    background-color: var(--preto);
    font-size: 1.2rem;
    padding: 5px;
}

footer, header > p {
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: white;
}